mixin BookCard(BookData={}, loggedIn)
  div(class="bookCard" title=BookData.BookDescription)
    span.bookCardTitle= BookData.BookName
    -var bookphoto = BookData.BookImage
    img(src=bookphoto)
    span.bookCardAuthor= "by " + BookData.BookAuthor
    
mixin BookButtons(book={}, loggedIn)
  div
    div.cardButtons
      if loggedIn && book.owner !== loggedIn && !book.requestors.includes(loggedIn)
        if !book.tradeRequestAccepted
          form(action='/requestBook' method='POST')
            input(type="hidden" name="BookData" value=book)
            button(type="submit" name="submit").requestBookButton Request
        if book.tradeRequestAccepted
          span.unsuccessfulTradeRequest Trade request accepted
      if loggedIn && book.owner !== loggedIn && book.requestors.includes(loggedIn)
        if book.tradeRequestAccepted === loggedIn
          span.tradeRequestAccepted AND ACCEPTED
        if book.tradeRequestAccepted && book.tradeRequestAccepted !== loggedIn
          span.unsuccessfulTradeRequest Unsuccessful Trade Request
          form(action='/removeRequest' method='POST')
            input(type="hidden" name="BookData" value=book)
            button(type="submit" name="submit").removeRequestButton Remove Request
        if !book.tradeRequestAccepted
          form(action='/removeRequest' method='POST')
            input(type="hidden" name="BookData" value=book)
            button(type="submit" name="submit").removeRequestButton Remove Request 
      if loggedIn && book.owner === loggedIn
        form(action='/deleteBook' method='POST')
          input(type="hidden" name="BookData" value=book)
          button(type="submit" name="submit").deleteBookButton Delete