mixin GymCard(gym={}, googlePhoto="", searchTerm="", loggedIn)
  -var photosource = gym.photos ? googlePhoto+gym.photos[0].photo_reference : 'http://www.freeiconspng.com/uploads/gym-icon-png-kansas-city-5.png'
  div(style="background-image: url("+photosource+");" class='gymPhoto')
    p= gym.name
    p= gym.users.length
    if gym.users.includes(loggedIn)
      form(action='/removemember' method='POST')
        input(type="hidden" name="SearchTerm" value=searchTerm)
        button(type="submit" name="id" value=gym) Remove
    else
      form(action='/member' method='POST')
        input(type="hidden" name="SearchTerm" value=searchTerm)
        button(type="submit" name="id" value=gym) Attend