mixin GymCard(gym={}, googlePhoto="", searchTerm="", loggedIn)
  -var photosource = gym.photos ? googlePhoto+gym.photos[0].photo_reference : 'http://www.freeiconspng.com/uploads/gym-icon-png-kansas-city-5.png'
  div(style="background-image: url("+photosource+");" class='gymPhoto')
    span.GymCardName= gym.name
    span.GymCardUsers= gym.users.length + " subscribed"
    if gym.users.includes(loggedIn)
      form(action='/removemember' method='POST')
        input(type="hidden" name="SearchTerm" value=searchTerm)
        button.leaveButton(type="submit" name="id" value=gym.id) Leave
    else
      form(action='/member' method='POST')
        input(type="hidden" name="SearchTerm" value=searchTerm)
        button.subscribeButton(type="submit" name="id" value=gym) Subscribe

mixin GymTicker(gym={})
  form(action='/removemember' method='POST' class='ownGyms')
    span(class="gymTickerName")= gym.gymName
    input(type="hidden" name="id" value = gym.gymGoogleID)
    button(type="submit") Leave
